
body{
    margin:0;
    padding: 0;
    font-family: monospace;
    background-color: #3b3e37;
    word-wrap:break-word;
}
h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;;
}
a{
    text-decoration: none;
}
h1{
    color: white;
}
h2{
    color: #ac0d0d;
}

#cardErro {
    display: none;
    background-color: #ac0d0d;
    color: white;
    width: 230px;
    position: absolute;
    border-radius: 4px;
    border: black 3px solid;
    padding: 10px;
    margin-left: 30%;
    margin-top: 20%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }

/*começo nav*/
#header{
    display: flex;
    height: 85px;
    justify-content: center;
    background-color: #2a2829;
    border-bottom: #ac0d0d  solid 3px;
    
}
.container{
    display: flex;
    justify-content: center;
    width: 80%;
}
.nav_bar{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    
    
}
.nav_bar ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    
}
ul{    
    height: 100%;
    list-style: none;

    

}
.agora{
    color:white;
    background-color: #ac0d0d;
}
li{
    padding: 1%;
    display: flex;
    align-items: center;
    height: 100%;
 
}
.nav_bar a{
    text-decoration: none;
    align-items: center;
    margin-top: 2%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 13px;
    height: 20px;
    
}

.nav_bar a:hover{
    background-color: #ac0d0d;
    padding: 10px 10px;
    color: white;
}


.vermelho{
    color: #ac0d0d;

    
}
/*=====================================fim nav*/
/*=====================================começo da area de conteudo*/
.principal{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.conteudo{
    display: flex;
    justify-content: space-between;

}
.conteudo.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
/*div esquerda*/
.esquerda{
    width: 63%;
    display: flex;
    flex-direction: column;
}

.div_ultimas{
    display: flex;
    background-color: #8e8e8e;  
    border-left:5px solid #ac0d0d;
    padding: 2%;
}
.div_ultimos_lancamento{
    display: flex;
    background-color: #2a2829;  
    border-top:5px solid #ac0d0d;
    border-bottom:5px solid #ac0d0d;
    padding: 2%;
    margin-bottom: 1%;

}
.div_ultimos_lancamento h2{
 color: white;
}

.ultimo_artigo{
    
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2%;
    
}
.descricao{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 1%;
    margin-left: 5px;
    

}
.descricao a{
    margin-top: 1%;
}

.sobre_artigo{
    display: flex;
    justify-content: space-between;
}
.artigos_anteriores{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 2%;

}
.info_artigo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/*div direita*/
.direita{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    background-color: white;
    
}
.div_lancamento{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div_lancamento .div_ultimas{
    align-items: center;
    width: 100%;
}



/*===========================================TELA LOGIN E CADASTRO====================================== */
.div_login{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}
.div_form{
    display: flex;

    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2a2829;
    width: 400px;
    height: 450px;
    color: #ac0d0d;
    
}
#div_cadastro{
    height: 550px;

}
.form_imagem{
    width: 100%;
}
.div_input{
    display: flex;
    flex-direction: column; 
}
.div_form input{
    
    width: 200px;
    height: 20px;
    margin-top: 8px;
    outline: #ac0d0d 3px solid;
    border: 0;
    padding: 5px;
    
}
label{
    font-size: 15px;
    margin-top: 5px;
    font-weight: bolder;
    color: white;
}
#btn_form{
    text-decoration: none;
    align-items: center;
    margin-top: 2%;
    border: none;
    background-color: #ac0d0d;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 13px;
    height: 20px;
    cursor: pointer;
}
#btn_form:hover{
    background-color: white;
    color: #ac0d0d;
}
select{
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-color: #ac0d0d;
    color: white;
}
/*=============================================== TELA SUGESTÃO ======================================*/
.div_sugestao{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    
}
.avisos{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.div_sugestao .div_form{
    align-items: center;
    margin: 0;
    padding: 1%;
    width: 500px;
    height: 500px;
}
.div_direita input{
    
    width: 11.2;

}
.texto{
    margin-top: 1%;
    color: white;
}
.div_sugestao .div_form .div_input{
    display: flex;
    flex-direction: row;
    
}
.div_esquerda{

    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 1%;
}
.div_direita{

    display: flex;
    flex-direction: column;
    width: 100%;
}
#input_mensagem{
    width: 78%;
    height: 20%;
}
.div_form #btn_form{
    
    margin: 0 auto;
}

/* =============================================DASHBOARD =====================================*/
.dash_principal{
    display: flex;  
}
.dashboard{
    display: flex;
    justify-content: space-between;
}
.dash_logo{
    margin-top: 10%;
}
.dash_h1{
    margin-left: 20%;
}
.dash_esquerda{
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    background-color: #2a2829;
    align-items: center;   
}
.div_botoes{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 150px;
}

.ul_botoes{

    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 0;
}

.ul_botoes a{

    text-decoration: none;
    color: white;
} 
.ul_botoes li {
    display: flex;
    height: 50px;
    width: 100%;
    margin-top: 4px;
    background-color: #ac0d0d;
    
}
.dash_esquerda button , .publicacao-btn-editar{
    text-decoration: none;
    align-items: center;
    margin-top: 2%;
    border: none;
    background-color: #ac0d0d;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 13px;
    height: 20px;
    cursor: pointer;
}
.dash_esquerda button:hover{
    background-color: white;
    color: #ac0d0d;
    

}
/* =====================================PAINEL DIREITO: MURAL, DASH ==================================*/
.dash-right{
    display: flex;
    flex-direction: row;
    margin: 0 auto;   
}
.container_dash{
    border: #ac0d0d solid 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}
.dash{
    border-bottom: 5px solid red;
    /* display: flex; */
    width: 600px;
    height: 350px;
    background-color: #2a2829;
}
.feed-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.div-results{
    display: flex;
   
}
.publicacao{
    margin-top:5px ;
    border: #ac0d0d 3px solid;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
    background-color: #2a2829;
    color: white;
    width: 400px;
    height: 300px;
}

/* =============================================TELA QUIZ =====================================*/

.div_quiz{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2a2829;
    width: 400px;

    
}
.div_perguntas{
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid #ac0d0d;
}
.div_alternativas{
    display: flex;
    flex-direction: column;
}
/* ======================================GALERIA================================================= */
.div_galeria_horror{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    
}
.div_galeria_horror .div_galeria{
    align-items: center;
    margin: 0;
    padding: 1%;
}

.texto{
    margin-top: 1%;
    color: white;
}
.div_galeria_horror .div_galeria{
    display: flex;
    flex-direction: row;
    
    
}
.div_galeria{
    flex-wrap: wrap;
}
.div_fotos{
    display: flex;
    border-bottom: 3px solid #ac0d0d;
    
    background-color: #2a2829;
    padding: 1%;
    margin: 1%;
   

}
.div_fotos img{

    width: 100%;
    filter: grayscale(100%);
}
.div_fotos img:hover{

    width: 100%;
    filter: grayscale(0);
}